<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> -->
    <link type="text/css" rel="stylesheet" href="assets/css/styles.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
  </head>
  <body>

    <div id = "app-name">Our Chat App</div>

    <div id = "chat-area">


        <div v-for="chat in chats">
          <span>{{ chat.text }}</span>
        </div>

      <input v-model="newChat" v-on:keyup.enter="sendChat">
    </div>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/chat_functions/atGiphy.js"></script>
    <script src="assets/js/chat_functions/atMovies.js"></script>


  </body>

</html>
